/dts-v1/;

#include <freq.h>
#include <rpi_pico/rp2040.dtsi>
#include <rpi_pico/rp2040.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include "pololu_3pi_2040-pinctrl.dtsi"

/{
    compatible = "pololu_3pi_2040";

    chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,flash-controller = &ssi;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,code-partition = &code_partition;
	};

    aliases {
        mag = &magnetometer;
        imu = &imu;
        watchdog = &wdt0;
        led0 = &led0;
    };

	xtal_clk: xtal-clk {
		compatible = "fixed-clock";
		clock-frequency = <12000000>;
		#clock-cells = <0>;
	};

    leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
			label = "LED";
		};
	};

    motors:motors {
        compatible = "pololu_3pi_2040,motor-driver";

        right_motor_dir = <&gpio0 10 (GPIO_ACTIVE_HIGH)>;
        left_motor_dir = <&gpio0 11 (GPIO_ACTIVE_HIGH)>;

        pwms = <&pwm 14 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
               <&pwm 15 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
        pwm-names = "right_motor", "left_motor";

        maxpower = <0x0FFF>;
    };
};

&flash0 {
	reg = <0x10000000 DT_SIZE_M(2)>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserved memory for the second stage bootloader */
		second_stage_bootloader: partition@0 {
			label = "second_stage_bootloader";
			reg = <0x00000000 0x100>;
			read-only;
		};

		/*
		 * Usable flash. Starts at 0x100, after the bootloader. The partition
		 * size is 2MB minus the 0x100 bytes taken by the bootloader.
		 */
		code_partition: partition@100 {
			label = "code-partition";
			reg = <0x100 (DT_SIZE_M(2) - 0x100)>;
			read-only;
		};
	};
};

&uart0 {
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;

    magnetometer: lis3mdl-magn@1e {
        compatible = "st,lis3mdl-magn";
        reg = <0x1e>;
    };

    imu: lsm6dso@6b {
        compatible = "st,lsm6dso";
        reg = <0x6b>;
    };
};

&spi0 {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-names = "default"; 

    display: sh1106@0 {
        compatible = "sinowealth,sh1106";
        reg = <0>;
        spi-max-frequency = <4000000>; // Boosted to 4MHz

        data_cmd-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;

        segment-offset = <2>; 
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;

        width = <132>;
        height = <64>;
    };
};

&pio0 {
    #address-cells = <1>;
    #size-cells = <0>;

    status = "okay";
    compatible = "pololu_3pi_2040,pio-common";
    pinctrl-0 = <&pio0_quadrature_encoder>;
    pinctrl-names = "default"; 

    encoders: encoders@0 {
        compatible = "pololu_3pi_2040,pio-encoders";
        reg = <0>;
        encoder-r = <&gpio0 8 GPIO_ACTIVE_HIGH>, <&gpio0 9 GPIO_ACTIVE_HIGH>;
        encoder-l = <&gpio0 12 GPIO_ACTIVE_HIGH>, <&gpio0 13 GPIO_ACTIVE_HIGH>;
    };
};

&pio1 {
    #address-cells = <1>;
    #size-cells = <0>;

    status = "okay";
    compatible = "pololu_3pi_2040,pio-common";
    pinctrl-0 = <&pio1_qtr_sensor>;
    pinctrl-name = "default";

    line_sensors:line_sensors@0{
        compatible = "pololu_3pi_2040,pio-line_sensors";
        reg = <0>;
        #gpio-cells = <2>;
        base-pin = <18>;
        ngpios = <5>; 
    };

    bump_sensors:bump_sensors@1{
        compatible = "pololu_3pi_2040,pio-bump_sensors";
        reg = <1>;
        #gpio-cells = <2>;
        bump-r = <&gpio0 16 (GPIO_ACTIVE_HIGH)>;
        bump-l = <&gpio0 17 (GPIO_ACTIVE_HIGH)>;
    };
};

zephyr_udc0: &usbd {
	status = "okay";
};

&timer {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&adc {
	status = "okay";
	pinctrl-0 = <&adc_default>;
	pinctrl-names = "default";
};

&pwm {
	pinctrl-0 = <&pwm_motors>;
	pinctrl-names = "default";
	divider-int-0 = <255>;
};

&vreg {
	regulator-always-on;
	regulator-allowed-modes = <REGULATOR_RPI_PICO_MODE_NORMAL>;
};
